*::before, *::after{
  box-sizing: border-box;
}

body{
  background: #2d2d2d;
  color: white;
  margin: 0;
  align-content: center;
  text-align: center;
}

#root{
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-content: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.row{
  margin-top: 20px;
  margin-bottom: 100px;
}


.btn {
  background: rgb(255,221,255);
  background: linear-gradient(90deg, rgba(255,221,255,1) 0%, rgba(119,0,179,1) 100%);
  font-size: 20px;
  color: white;
  padding: 14px 40px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: linear-gradient(90deg, rgba(255,221,255,0.75) 0%, rgba(119,0,179,0.75) 100%);
}

.btn-danger{
  align-self: flex-end;
}

.list{
  list-style-type: none;
  padding: 0px;
  height: 50vh;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  background: rgb(108,158,255);
  background: linear-gradient(94deg, rgba(108,158,255,1) 0%, rgba(0,30,204,1) 100%);
  padding: 8px;
  font-size: 20px;
}

li:nth-child(odd) {
  background: rgb(255,172,108);
  background: linear-gradient(95deg, rgba(255,172,108,1) 0%, rgba(204,44,0,1) 100%);
}

.header{
  font-weight: bold;
  font-size: 30px;
  margin: 20px 8px;
}


input[type=text]{
  background: #2d2d2d;
  border: 1px solid #c32aff;
  color: white;
  outline: none;
  display: inline-block;
  padding: 14px 40px;
  font-size: 20px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: #c32aff;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


